$bgc: #42413d;
body {
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    padding: 6px;
    border: none;
    width: 90px;
    transform: translate(-50%, -50%);
    background: none;
    color: black;
    border: 1px solid #ffce2b;
    transition: .6s;
}

button:focus {
    outline: none;
}

button:before {
    display: block;
    background: black;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(130px) skewX(15deg);
}

button:after {
    display: block;
    background: black;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(100px) scaleX(15deg);
}

button:hover {
    background: #ffce2b;
    cursor: pointer;
}

button:hover:before {
    transform: translate(130px) skewx(15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after {
    transform: translate(130px) skewx(15deg);
    opacity: 1;
    transition: .7s;
}

p {
    margin: 0px;
    margin-bottom: 10px;
}

#head {
    font-size: 70px;
    color: #ffce2b;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 20%;
    background-color: $bgc;
    border-bottom: 2px solid #b2afac;
}

#main {
    height: 505px;
    ;
}

#left {
    height: 100%;
    float: left;
    width: 69.9%;
    background-color: $bgc;
    overflow-x: auto;
    overflow-y: auto;
    border-right: 1px solid #b2afac;
}

#right {
    height: 100%;
    ;
    float: right;
    width: 30%;
    overflow: auto;
    background-color: $bgc;
}

#bottom {
    border-top: 2px solid #b2afac;
    width: 100%;
    height: 36px;
    background-color: $bgc;
}

#checkout {
    margin-left: 250px;
    margin-top: 420px;
    width: 150px;
}

#add {
    margin-left: 200px;
    margin-top: 100px;
    width: 120px;
}

#clear {
    margin-left: 100px;
    margin-top: 100px;
    width: 120px;
}

#searchi {
    float: left;
    margin-top: 20px;
}

#buttoni {
    float: right;
    margin-top: 30px;
}